*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: gilroy;
}
html,
body{
    height: 100%;
    width: 100%;
}
#box{
    height: 100%;
    width: 100%;
    background-color: rgb(58, 57, 57);
     display: flex;
    justify-content: center;
    align-items: center;
}
#cursor{
    height: 20px;
    width: 20px;
    background-color: brown;
    border-radius: 50%;
    position: fixed;
   
}
#img{
    height: 30vw;
    width: 60vw;
    background-color: rgb(207, 153, 153);
    background-image: url("https://images.unsplash.com/photo-1538592487700-be96de73306f?q=80&w=870&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
    background-size: cover;
    background-position: center;
}